/*********LOG IN ************/
#L_frame
{width:400px; height:450px; border-width:1px; margin:auto; margin-top:80px; box-shadow:0px 5px 10px #454343;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
}
#L_frame_head
{width:400px; height:80px; border-width:1px; padding-top:20px}
#L_login_head
{width:400px; height:35px; border-width:1px; margin-top:10px;}
#L_head_font
{ font-family:Arial; font-size:20px; color:#514F4F}
#L_head_entr
{height:35px; border-width:1px;}
#L_head_ent_font
{font-family:arial; font-size:13px; color:#514F4F; font-style:italic}
#L_form_con
{ height:170px; width:320px; border-style:solid; border-width:1px; margin-top:5px; border-radius:10px; border-color:#9B9595}
#L_user
{height:20px; font-size:18px; font-family:calibri; width:235px; border-width:1px;  padding:5px; border-color:#9B9595;  text-align:center;background-color:#F7F3C0;}
#L_pass
{height:20px; font-size:18px; width:270px; border-width:1px; border-style:solid; padding:5px; border-color:#9B9595; margin-top:10px;}
#L_input
{width:320px; height:40px; border-width:1px; margin-top:15px}
#L_submit
{ margin-top:13px; width:110px; height:25px; border-radius:4px; border-style:solid; border-width:1px; border-color:#C3BEBE; box-shadow: 0px 1px 6px #B0ADAE}
#L_submit:hover
{ margin-top:13px; width:110px; height:25px; border-radius:4px; border-style:solid; border-width:1px; border-color:#C3BEBE; box-shadow: 0px 1px 6px #B0ADAE; color:red; cursor:pointer}
#L_forgot
{ height:40px; border-width:1px; margin-top:10px}
#L_forgot_fnt
{ font-family:Calibri; font-size:13px; color:#636161}
#L_forgot_fnt:hover
{ font-family:Calibri; font-size:13px; color:#D0070A; text-decoration:underline}
#L_footer
{ height:20px; width:400px; margin:auto; border-width:1px; margin-top:10px;}
.L_error
{font-style:oblique;}



/**********MAIN STYLE************/
body
{
	width:100%;
	margin:0;
	background-color:#24485e}
#main-container
{
	width:1200px;
	margin:auto;
	margin-top:40px;
	overflow:auto;
	background:#34404d;
	box-shadow:0px 3px 5px #111}
#left-con
{
	float:left;
	width:200px;
	height:700px;
	background:#34404d;
	}
	
#left-pic
{
	width:100%;
	height:180px}
#left-name
{
	font:14px Arial, Helvetica, sans-serif;
	color:#CCC; 
	text-align:center;
	margin:0;
	padding:0px 0px 20px 0px;
	border-bottom:2px solid #28323c}
.left-ul
{
	padding:0;
	margin:0}
.left-ul li
{
	list-style:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
	padding:5px 0px 5px 30px;
	color:#FFF;}
.left-ul li:hover
{
	background:#24485e;
	transition:ease-in-out;
	transition-duration:0.2s}
.left-ul a
{
	text-decoration:none;}
#right-con
{	float:left;
	width:950px;
	background:#FFFFFF;}
#news-type
{
	margin:auto;
	width:900px;
	min-height:500px;}
#news-type-list
{
	border:5px solid #EEE;
	width:250px;
	height:230px;
	float:left;
	margin:20px;
	box-shadow:0px 3px 5px #999}
#news-con-title
{
	font:25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#333;
	padding:17px;
	font-weight:bold;
	margin:0}
#news-type-img
{
	width:100%;
	height:167px;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;}
#news-type-title
{
	font:25px Georgia, "Times New Roman", Times, serif;
	text-align:center;
	margin:0; padding-top:15px;
	color:#333
	}
#news-table
{
	font:14px Calibri;
	font-weight:normal;}
	
	
#addnew
{
	text-decoration:none;
	font:14px "Lucida Sans Unicode", "Lucida Grande", sans-serif}
#addnew:hover
{
	text-decoration:underline;}
	
.addnews-form
{
	width:500px;
	height:500px;
	margin:auto;
	padding:10px 20px 20px 20px;
	background:#FFF;}	
.addbanner-form
{
	width:500px;
	height:200px;
	margin:auto;
	padding:10px 20px 20px 20px;
	background:#FFF;
	font:15px Calibri}	
.delnews-form
{
	width:400px;
	height:200px;
	margin:auto;
	padding:10px 20px 20px 20px;
	background:#FFF;
	font-family:Calibri}
#addnews-p
{
	font:16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding:0; margin:0;
	border-bottom:1px solid #24485e}
.addnews-form table
{
	font:15px Calibri}
#new-txt
{
	font-size:16px; 
	font-family:Calibri; 
	width:100%; 
	border-radius:3px;
	background-color:#F7F3C0; 
	text-align:center;}
#new-txt2
{
	font-size:14px; 
	line-height:14px;
	font-family:Calibri; 
	width:100%; 
	border-radius:3px;
	background-color:#F7F3C0; }
#dash-con
{
	width:95%;
	margin:auto;
	overflow:auto;}
#dash-recent
{
	border:1px solid #096;
	width:450px;
	margin-bottom:10px;
	float:left;
	border-radius:7px;
	overflow:hidden;}
#dash-rec-title
{
	font:14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FFF;
	background:#1596d9;
	margin:0;
	padding:3px 3px 3px 10px}
.dash-tbl
{
	font:14px Calibri;
	margin-top:10px;
	margin-bottom:10px;}
#dash-socmed
{
	border:1px solid #096;
	width:350px;
	margin:0px 0px 10px 40px;
	float:left;
	border-radius:7px;
	overflow:hidden;}
#main-p
{
	font:12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#999;
	margin:0;
	padding:15px 0px 0px 30px}



/**********HEAD**************/
#header-con
{
	width:100%;
	height:50px;
	margin:auto;
	background:#282828;
	overflow:auto;
	}
#header-logo-con
{	
	width:250px;
	height:100%;
	float:left;	
}
#header-logout
{
	float:right;
	width:20%;
	height:100%}
#logout-a
{
	text-decoration:none;
	color:#FFF;
	font:14px Arial, Helvetica, sans-serif;
	text-align:right;
	margin:15px}


/*----TAB----*/

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px; color:#333333; font-weight:bold;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


/*----EMAIL-CONTENT----*/












